repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.9
    hooks:
      - id: uv-lock # check lock file have changes
      - id: uv-export # generate requirements.txt
        args:
          - --quiet
          - --no-hashes
          - --frozen
          - --no-header
          - --no-annotate
          - --output-file=requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml  # check YAML-files
      - id: end-of-file-fixer  # add empty line in file
      - id: trailing-whitespace  # remove whitespace
      - id: check-added-large-files  # check about big file
      - id: check-json  # check JSON-files
      - id: check-toml  # check TOML-files
      - id: detect-private-key  # find private key
      - id: name-tests-test  # check test file names
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0 #enable black before commit
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5 #enable ruff before commit
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0 #enable check Conventional Commits before commit
    hooks:
      - id: commitizen
        stages: [ commit-msg ]
